extends layout

block content

	h2 Wall

	each post in allPosts
		h3= post.title
		p= 'Posted by ' + post.user.name
		p= post.body
		img(src= post.img)
		br
		if storedUser	
			form(name="commenting", action="/comment", method="post")
				div.input
					span.label Leave your comment here:
					input(type="text", name="postComment")
					input(type='text', name='id', value="#{post.id}", hidden)
					input(type="submit", value="Make a comment")
		else 
			a(href='http://localhost:3000/login') Please login to post comments.
		each one in post.comments
			p= 'Comment by ' + one.user.name
			p=one.body
		



// - view a list of everyone's posts